.layout-topbar {
  padding: 15px;
  background-color: #1976d2;
  color: #ffffff;

  .logo {
    width: 30%;
    cursor: pointer;
    text-align: unset;
  }

  .topbar-menu {
    margin: 0;
    width: 70%;
    text-align: right;
  }

  .topbar-menu li, * {
    display: inline-block;
  }

  .topbar-menu li a {
    color: #fff;
    padding: 15px;
    display: block;
  }

  .topbar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .topbar-menu li a.active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .logo h2 {
    text-align: center;
    font-size: 18px;
  }
}


@media screen and (max-width: 600px) {
  .layout-topbar {
    .topbar-menu {
      display: none;
    }

    .logo {
      margin-top: 10px;
      text-align: center;
      width: 100%;
    }

    .logo h2 {
      font-size: 14px;
      width: calc(100% - 40px);
      text-align: center;
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 1055px){
  .layout-topbar {
    .logo {
      width: 100%;
      text-align: center;
    }

    .logo h2 {
      font-size: 18px;
    }

    .topbar-menu {
      padding-left: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    // .topbar-menu li {
    //   min-width: 100px;
    // }

    .topbar-menu li a {
      text-align: center;
      font-size: 14px;
      padding: 5px;
    }

    .topbar-menu li a span.pi {
      display: block;
    }
  }
}


/**** SIDEBAR MENU ********/

.sidebar-title {
  font-size: 16px;
  padding: 10px;
  color: #007ad9;
  text-transform: uppercase;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

#sidebar-menu {
  list-style-type: none;
  padding-left: 0;
}

#sidebar-menu li a {
  padding: 3px 0;
  color: unset;
  font-size: 16px;
  display: block;
}

#sidebar-menu li a i {
  margin-right: 10px;
  color: #007ad9;
}

.sidebar-footer {
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.sidebar-content {
  padding: 5px 15px;
  padding-top: 15px;
  height: calc(100% - 125px);
}

.sidebar-content h3 {
  font-size: 12px;
}
