

#statistics iframe {
    width: 100%;
    // height: 1000px;
    height: 100%;
}

@media (max-width: 600px) {
    #statistics iframe {
        width: 90%;
        height: 100%;
    }
}

#statistics-list .ui-dropdown {
    width: 30%;
}

@media(max-width: 1000px) {
    #statistics-list .ui-dropdown {
        width: 90% !important;
    }
}

@media(min-width: 1001px) and (max-width: 1200px) {
    #statistics-list .ui-dropdown {
        width: 50%;
    }
}

@media(min-width: 1201px) and (max-width: 1368px) {
    #statistics-list .ui-dropdown {
        width: 40%;
    }
}