<div class="p-grid statistics-container no-margin no-padding" style="height: 100%;text-align: center;" id="statistics">
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12" style="height: 100%;text-align: center;width: 100%;padding: 0;">
        <!-- <div class="wrapper" style="height: 100%;">
            <div id="chart" style="height: 100%;"></div>
        </div> -->

        <!-- <div style="padding: 3px;">
            <p-message  severity="info" text="Situaţia până la data în care s-au raportat oficial aceste informaţii."></p-message>
        </div> -->
        <iframe seamless frameborder="0" scrolling="no" src="https://alexaac.github.io/covid-19-ro-cases-relations/"></iframe>
    </div>
</div>
