<div style="border: 1px #efefef solid; margin-bottom: 5px; text-align: center;">
  <h2>Total confirmate</h2>
  <h2 style="color: #ff7f00;">{{totalCases}}</h2>
</div>
<div class="borderlessTable">
  <p-table [value]="tableData" id="addNewRasterTable" selectionMode="single">
    <ng-template pTemplate="header">
      <tr>
          <th>Cazuri confirmate pe județ</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
          <td style="text-align: left;">
            <span style="font-weight: bold;">{{item.total_county + " "}}</span>
            <span>{{item.county}}</span>
          </td>
      </tr>
    </ng-template>
  </p-table>
</div>


