<div class="layout-topbar">
  <div class="logo">
    <button pButton icon="pi pi-bars" class="ui-button-secondary ui-button-raised xs-only" (click)="showSidebar(true)"></button>
    <h2 [routerLink]="['/dashboard/main']">Coronavirus COVID-19 România</h2>
  </div>
  <ul  class="topbar-menu">
    <ng-container *ngFor="let item of items" >
      <li *ngIf="item.visible">
        <a [routerLink]="item.routerLink" routerLinkActive="active">
          <span class="topbar-submenu-icon" [class]="item.icon"></span>&nbsp;
          <span>{{item.label}}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</div>

<p-sidebar [(visible)]="displaySidebar" [showCloseIcon]="false" [style]="{padding: 0}">
  <h2 class="sidebar-title">
    Coronavirus COVID-19 România
    &lt;!&ndash; <button style="float: right" pButton class="ui-button-secondary ui-button-raised" icon="fa fa-times" (click)="showSidebar(false)"></button> &ndash;&gt;
  </h2>
  <div class="sidebar-content">
    <h3>MENIU NAVIGARE</h3>
    <ul id="sidebar-menu">

      <ng-container *ngFor="let item of items" >
        <li *ngIf="item.visible">
          <a [routerLink]="item.routerLink" (click)="showSidebar(false)">
            <i [class]="item.icon"></i>&nbsp;<span>{{item.label}}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="sidebar-footer">
    <button pButton icon="fa fa-arrow-left" label="Inchide" style="width: 100%;padding: 3px;" (click)="showSidebar(false)"></button>
  </div>
</p-sidebar>
