#air-quality iframe {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

#air-quality iframe.full-width {
    width: 100%;
}

#air-quality iframe#full {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

:host ::ng-deep #graph-list .ui-dropdown {
    width: 30%;
}

@media(max-width: 1000px) {
    :host ::ng-deep .ui-dropdown {
        width: 90% !important;
    }
    #air-quality iframe {
        width: 100%;
    }
}

@media(min-width: 1001px) and (max-width: 1200px) {
    :host ::ng-deep #graph-list .ui-dropdown {
        width: 50%;
    }
    #air-quality iframe {
        width: 70%;
    }
}

@media(min-width: 1201px) and (max-width: 1368px) {
    :host ::ng-deep #graph-list .ui-dropdown {
        width: 40%;
    }
    #air-quality iframe {
        width: 65%;
    }
}