.wrapper {
    margin: 0 20;
    /* max-width: 1200px; */
}

svg.chart-group {
    width: 100%;
    max-width: 900px;
}

.link {
    fill: none;
    stroke: grey;
    stroke-width: 1.5px;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle {
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

tooltip_div.tooltip {
    position: absolute;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    border: 1px solid #222;
    opacity: .9;
    color: #222;
    padding: 10px;
    font-size: 0.7em;
    line-height: 12pt;
    font-family:  "EB Garamond", serif;
    /* visibility: visible; */
}
#statistics iframe {
    width: 50%;
    height: 1000px;
}

@media (max-width: 600px) {
    #statistics iframe {
        width: 90%;
        height: 100%;
    }
}
