<div id="manifest-area" class="page-container">
    <!-- <iframe seamless borderless frameborder="0" src="https://docs.google.com/document/d/e/2PACX-1vTOD6qXwZ6ct4W8JNm1j9WT4Kqj444S9qnFyhfbmPObmH0gGhrc02EEdmtATneXBjIZ-aNGjzYDbIIq/pub?embedded=true"></iframe> -->
    <div id="manifest-antet">
        <div id="manifest-logo"><img src="/assets/images/geospatial_small.png"></div>
        <div id="manifest-date">BUCUREȘTI, 20 MARTIE 2020</div>
    </div>
    <br>
    <p id="manifest-to">
        Către: Președinția României<br>
            <span>&nbsp;</span>Guvernul României<br>
            <span>&nbsp;</span>Ministerul Afacerilor Interne<br>
            <span>&nbsp;</span>Departamentului pentru Situații de Urgență<br>
            <span>&nbsp;</span>Ministerul Sănătății<br>
            <span>&nbsp;</span>Institutul Național de Sănătate Publică
    </p>
    <br>

    <h2>Manifest pentru publicarea completă a datelor privind evoluția pandemiei Covid-19 pe teritoriul României</h2>
    <br>
    <p>
        <strong>
            Asociația geo-spatial.org solicită autorităților să ofere public o prezentare completă, structurată a tuturor cazurilor oficiale (confirmate, vindecări, decese) actualizată cât mai des posibil, pentru a disemina aceste informații vitale și a evita apariția informațiilor false, potențial alarmiste.
        </strong>
    </p>
    <p>
        Pentru a sprijini accesul cetățenilor la informațiile de interes public, <strong>am realizat</strong> (prin utilizarea tehnologiilor open source) <strong>o hartă a distribuției spațiale a tuturor cazurilor COVID-19 confirmate oficial</strong> - <a href="/" title="Coronavirus COVID-19 România">Coronavirus COVID-19 România</a> -, o statistică ilustrând evoluția pe zile, precum și un grafic ce permite vizualizarea legăturilor de contaminare.
    </p>

    <p>
        Pentru a menține <a href="/" title="Coronavirus COVID-19 România">Coronavirus COVID-19 România</a> actualizat și, astfel, pentru a susține demersul autorităților și al organizațiilor media de a informa corect și prompt populația, solicităm deschiderea datelor publice statistice privind evoluția pandemiei Covid-19 pe teritoriul României, prin publicarea:
    </p>
    <ol>
        <li>Numărului de cazuri noi confirmate pe județ incluzând: sexul, vârsta, precum și sursa contaminării (numărul pacientului de la care fiecare nou pacient a contractat virusul), acolo unde se poate identifica.</li>
        <li>Numărului de persoane vindecate pe județ, incluzând sexul și vârsta (pentru a putea elimina din numărătoarea cazurilor pe fiecare județ).</li>
        <li>Numărului deceselor pe județ, incluzând sexul și vârsta (pentru a putea elimina din numărătoarea cazurilor pe fiecare județ).</li>
        <li>Numărului persoanelor izolate pe județe, incluzând: sexul și vârsta.</li>
        <li>Numărului persoanelor aflate în carantină pe județe, incluzând: sexul și vârsta.</li>
        <li>Numărului testelor efectuate zilnic, indiferent de rezultat, pe județ (incluzând acolo unde este disponibilă categoria de caz suspect: istoric de călătorie într-o zonă cu transmitere locală a virusului, contact al unui caz confirmat sau pacient cu infecție respiratorie acută severă de etiologie necunoscută)</li>
    </ol>


    <p>Menționăm că vizualizările noastre au fost preluate de numeroase organizații media în exemplificarea articolelor publicate pentru informarea corectă a populației (HotNews.ro, G4Media.ro, Libertatea.ro, RRI.ro, Euractiv.ro, CRJI, etc) privind evoluția pandemiei. </p>
    <p>Demersul nostru, realizat pe bază de voluntariat, a fost inițiat în urma răspândirii coronavirusului Covid-19 până la nivel de pandemie.</p>
    <p>Astăzi, gradul de incertitudine privind modificările vieții noastre de zi cu zi, privind evoluția tuturor resorturilor lumii așa cum o cunoșteam, atinge cotele maxime ale generației noastre. Consecințele pandemiei abia se prefigurează, pe fondul adoptării unor măsuri drastice dar necesare: granițe închise, flote întregi de avioane ținute la sol, școli și universități închise, fabrici care își încetează activitatea, trimițând mii de oameni în șomaj tehnic, restaurante, cluburi, cafenele, magazine, locuri de recreere închise, spectacole, campionate, turnee, conferințe anulate, instituirea stării de urgență și multe altele.</p>
    <p>Pe fondul noii realități, neliniștea populației crește, conducând la comportamente sociale atipice, precum cozile interminabile de la magazinele alimentare, bancomate sau farmacii. Acestea ar putea degenera, în lipsa unei comunicări publice adecvate, în panică. În astfel de vremuri, doar informarea constantă și actualizată este singura metodă reală prin care populația poate fi conectată la evoluția pandemiei pe teritoriul României, precum și la eforturile autorităților de a o restrânge.</p>

    <p>Apreciem eforturile susținute ale autorităților în a informa inclusiv prin comunicatul de presă zilnic stabilit la ora 13:00 și sugerăm eficientizarea acestei comunicări conform celor explicate în acest document. Autoritățile nu trebuie lăsate singure în acest uriaș efort de comunicare, iar actorii civili pot aduce o semnificativă contribuție în procesarea și vizualizarea datelor, în fluidizarea fluxului informativ către public. </p>

    <p>Menționăm că:</p>
    <ul>
        <li><a href="/" title="Coronavirus COVID-19 România">Coronavirus COVID-19 România</a> conține strict doar cazurile confirmate oficial, indicând pentru fiecare în parte sursa oficială a informației. </li>
        <li>Informațiile oficiale transformate în date ce pot fi prelucrate cu ușurință în mod automat sunt puse la dispoziția întregii comunități naționale și internaționale pentru includerea acestora în multiplele studii și analize statistice ce sunt realizate, identificând în mod clar sursa acestora. </li>
        <li>Autoritatea care pune la dispoziție aceste informații oficiale nu va fi răspunzătoare pentru niciun fel de pagube directe, indirecte, accidentale rezultate din utilizarea sau imposibilitatea utilizării informațiilor.</li>
        <li>Vizualizările realizate sau informațiile trimise nu permit identificarea pacienților, datele fiind complet anonimizate.</li>
    </ul>

    <p>Înțelegem presiunea uriașă și apreciem eforturile autorităților române de a lupta și a restrânge efectele pandemiei de Covid-19. Considerăm însă că eficientizarea fluxului de informare al populației, precum și accesul deschis la datele oficiale complete enumerate mai sus ar reprezenta un ajutor semnificativ, cel puțin din perspectiva informării corecte a populației României.</p>

    <div style="font-style: italic;">
        <p>Manifest redactat de către Asociația geo-spatial.org și susținut de către: </p>
        <p>
            Asociația pentru Tehnologie si Internet - ApTI <br>
            Centrul pentru Inovare Publică <br>
            Funky Citizens<br>
            Expert Forum<br>
            Comunitatea Declic<br>
            Asociația CivicNet<br>
            Centrul de Resurse pentru participare publică<br>
            Centrul pentru Jurnalism Independent<br>
            Centrul Român pentru Jurnalism de Investigație<br>
            Freedom House Romania<br>
            ActiveWatch<br>
            Asociația Pentru Apărarea Drepturilor Omului în România - Comitetul Helsinki (APADOR-CH)<br>
            Centrul pentru Inovație în Medicină<br>
            Casa Jurnalistului<br>
            Asociația Urbannect<br>
            Corupția ucide<br>
            Geeks 4 Democracy
        </p>
    </div>

    <p>
        Persoană de contact: Vasile Crăciunescu<br>
        Mail: <a type="email" href="mailto:vasile@geo-spatial.org">vasile@geo-spatial.org</a>
    </p>
</div>

