<div class="header">
    <div class="logo">
      <h2 [routerLink]="['/dashboard/main']">Coronavirus COVID-19 România</h2>
    </div>
    <ul class="topbar-menu">
        <li>
            <a [routerLink]="['/dashboard/main']" routerLinkActive="active"><i class="pi pi-home"></i> COVID-19</a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/maps']" routerLinkActive="active"><i class="pi pi-compass"></i> Hărți</a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/statistics']" routerLinkActive="active"><i class="pi pi-chart-line"></i> Statistici</a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/manifest']" routerLinkActive="active"><i class="pi pi-users"></i> Manifest</a>
        </li>
        <li>
            <a [routerLink]="['/dashboard/about']" routerLinkActive="active"><i class="pi pi-info-circle"></i> Despre</a>
        </li>
        <!-- <li *ngIf="currentUser">
            <a [routerLink]="['/dashboard/administration/patients-list']"><i class="pi pi-desktop"></i> Administrare</a>
        </li>
        <li *ngIf="!currentUser">
            <a [routerLink]="['/login']">
                <i class="pi pi-sign-in"></i>
                Login
            </a>
        </li>

        <li *ngIf="currentUser">
            <a href="#" (click)="doLogout($event)">
                <i class="pi pi-sign-in"></i>
                Logout
            </a>
        </li> -->
    </ul>
</div>
