<div class="sub-menu" style="background-color: rgba(25, 118, 210, 0.4);border-top: 1px solid #eee;border-bottom: 1px solid #eee;padding: 5px;">
    <button pButton type="button"  class="ui-button-secondary" [routerLink]="['/dashboard/statistics/general-statistics']" routerLinkActive="ui-button-info" [routerLinkActiveOptions]="{exact: true}" label="Statistici generale"></button>
    <button style="margin-left: 10px" pButton type="button" class="ui-button-secondary" [routerLink]="['/dashboard/statistics/relation-cases']" routerLinkActive="ui-button-info" [routerLinkActiveOptions]="{exact: true}" label="Relationare cazuri"></button>
    <button pButton type="button" class="ui-button-secondary new-row" [routerLink]="['/dashboard/statistics/counties-cases']" routerLinkActive="ui-button-info" [routerLinkActiveOptions]="{exact: true}" label="Repartiția cazurilor pe județe"></button>
    <!-- <button pButton type="button" id="maps-btn" style="margin-left: 10px" class="ui-button-secondary" [routerLink]="['/dashboard/statistics/maps']" routerLinkActive="ui-button-info" [routerLinkActiveOptions]="{exact: true}" label="Hărți"></button> -->
</div>

<router-outlet></router-outlet>
