@media (max-width: 550px) {
    .full-width {
        width: 100%;
    }

    .only-xs {
        display: block;
    }

    .only-large {
        display: none;
    }

    .mobility-container iframe {
        height: 320px;
        width: 100%;
    }
}