#map {
    width: 100%;
    height: 100%;
    position: relative;
}


@media screen and (max-width: 600px) {
    #map {
        height: 340px;
        position: relative;
    }

    #map-container {
        width: calc(100% - 3px);
        height: auto !important;
    }
}