<!-- <div class="sub-menu">
    <button *ngFor="let item of links"
            pButton type="button"
            class="{{item.classes}}"
            [routerLink]="item.routerLink"
            routerLinkActive="ui-button-info"
            [routerLinkActiveOptions]="{pathMatch: 'prefix'}"
            label="{{item.label}}"></button>

</div> -->

<div class="submenu" *ngIf="!isMobile">
    <ul style="list-style-type: none;margin: 0;">
        <li *ngFor="let item of links; let i = index" style="display: inline-block;position: relative;">
            <i class="far fa-square" *ngIf="i > 0 && !item.hidden"></i>
            <a *ngIf="!item.hidden" routerLinkActive="active" routerLink="{{item.routerLink}}" routerLinkActiveOptions="{pathMatch: 'prefix'}" title="{{'statistics.'+item.label | translate}}">
                {{'statistics.'+item.label | translate}}
                <i class="fa fa-chevron-down" *ngIf="['Cazuri', 'Mediu', 'Europa'].includes(item.label)"></i>
            </a>

            <ul class="menu-submenu no-bullet" *ngIf="item.label === 'Cazuri'" style="width: 250px;">
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/statistici-generale"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Statistici generale' | translate}}</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/relationare-cazuri"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Relaționare cazuri' | translate}}</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/repartitie-cazuri-judete"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Repartiția cazurilor pe județe' | translate}}</a>
                </li>
            </ul>


            <ul class="menu-submenu" *ngIf="item.label === 'Mediu'" style="width: 250px;">
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/calitate-aer"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Calitate aer' | translate}}</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/temperatura-apa-mare"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Temperatura apei mării' | translate}}</a>
                </li>
            </ul>

            <ul class="menu-submenu" *ngIf="item.label === 'Europa'" style="width: 250px;">
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/situatie-europa/cazuri-active"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Cazuri active' | translate}}</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/situatie-europa/cazuri-confirmate"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Cazuri confirmate' | translate}}</a>
                </li>
                <li>
                    <a routerLinkActive="active" [routerLink]='["/statistici/situatie-europa/decese"]' routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Decese' | translate}}</a>
                </li>
            </ul>

            
        </li>
        
    </ul>
</div>

<a class="submenu" style="cursor: pointer;display: block;" (click)="showSubmenu()" *ngIf="isMobile">
    <i class="fa fa-angle-down"></i>
    <span class="submenu-title">{{'statistics.'+activeLink.label | translate}}</span>
</a>

<div class="layout-submenu" *ngIf="submenuVisible && isMobile">
    <ul>
        <li *ngFor="let item of links" [ngClass]="{'hidden': item.hidden}">
            <a style="position: relative;" routerLinkActive="active" (click)="changeRoute(item)" routerLink="{{item.routerLink}}" routerLinkActiveOptions="{pathMatch: 'prefix'}" title="{{'statistics.'+item.label | translate}}">
                {{'statistics.'+item.label | translate}}
                <i class="fa fa-plus" *ngIf="['Cazuri', 'Mediu', 'Europa'].includes(item.label)" style="position: absolute;right: 10px;top: 12px;"></i>
            </a>

            <ul *ngIf="item.label === 'Cazuri' && casesSubmenuVisible">
                <li style="border-top: 1px solid #eee;">
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/statistici-generale" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Statistici generale' | translate}}</a>
                </li>
                <li>
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/relationare-cazuri" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Relaționare cazuri' | translate}}</a>
                </li>
                <li>
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/repartitie-cazuri-judete" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Repartiția cazurilor pe județe' | translate}}</a>
                </li>
            </ul>

            <ul *ngIf="item.label === 'Mediu' && mediuSubmenuVisible">
                <li style="border-top: 1px solid #eee;">
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/calitate-aer" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Calitate aer' | translate}}</a>
                </li>
                <li>
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/temperatura-apa-mare" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Temperatura apei mării' | translate}}</a>
                </li>
            </ul>

            <ul *ngIf="item.label === 'Europa' && europaSubmenuVisible">
                <li style="border-top: 1px solid #eee;">
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/situatie-europa/cazuri-active" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Cazuri active' | translate}}</a>
                </li>
                <li>
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/situatie-europa/cazuri-confirmate" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Cazuri confirmate' | translate}}</a>
                </li>
                <li>
                    <a style="padding-left: 35px;" (click)="this.submenuVisible = false" routerLinkActive="active" routerLink="/statistici/situatie-europa/decese" routerLinkActiveOptions="{pathMatch: 'full'}">{{'statistics.Decese' | translate}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>
