<!-- <div class="sub-menu">
    <button *ngFor="let item of links"
            pButton type="button"
            class="{{item.classes}}"
            [routerLink]="item.routerLink"
            routerLinkActive="ui-button-info"
            [routerLinkActiveOptions]="{pathMatch: 'prefix'}"
            label="{{item.label}}"></button>

</div> -->

<div class="submenu" *ngIf="!isMobile">
    <ul style="list-style-type: none;margin: 0;">
        <li *ngFor="let item of links; let i = index" style="display: inline-block;">
            <i class="far fa-square" *ngIf="i > 0"></i>
            <a routerLinkActive="active" routerLink="{{item.routerLink}}" routerLinkActiveOptions="{pathMatch: 'prefix'}" title="{{item.label}}">{{item.label}}</a>
        </li>
        
    </ul>
</div>

<a class="submenu" style="cursor: pointer;display: block;" (click)="showSubmenu()" *ngIf="isMobile">
    <i class="fa fa-angle-down"></i>
    <span class="submenu-title">{{activeLink.label}}</span>
</a>

<div class="layout-submenu" *ngIf="submenuVisible && isMobile">
    <ul>
        <li *ngFor="let item of links">
            <a routerLinkActive="active" (click)="changeRoute()" routerLink="{{item.routerLink}}" routerLinkActiveOptions="{pathMatch: 'prefix'}" title="{{item.label}}">{{item.label}}</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>
