<div class="page-container">
    <h2 class="text-center">Coronavirus COVID-19 România Project</h2>
    <br>
    <h3>Despre</h3>
    <p>
        Pe 11 martie 2020, Directorul general al Organizaţiei Mondiale a Sănătăţii (OMS), Tedros Adhanom Ghebreyesus anunța că COVID-19 este o pandemie și propune o serie de recomandări, dintre care, unele direcționate către publicul larg. Respectarea acestora cu strictețe de către fiecare dintre noi în următoarea perioadă este esențială și poate fi singura barieră dintre generația noastră și o catastrofă.
        <br><br>
        În data de 26 februarie, a fost confirmat și primul caz pe teritoriul României. Autoritățile și organizațiile media fac eforturi susținute în a informa populația în timp real cu privire la  răspândirea virusului COVID-19 în România prin comunicate de presă. O prezentarea completă, schematică a tuturor cazurilor oficiale (confirmate, vindecări, decese) actualizată cât mai des posibil, este însă esențială în a disemina aceste informații vitale.
        <br><br>
        Aceasta este motivația demersului nostru: <a href="https://covid19.geo-spatial.org/" title="Coronavirus COVID-19 România" target="_blank"></a>. Prin utilizarea tehnologiilor open source, am realizat o hartă a distribuției spațiale a tuturor cazurilor COVID-19 confirmate oficial, o statistică care arată evoluția pe zile, precum și un grafic ce permite vizualizarea legăturilor de contaminare. Navigarea prin grafic prezintă și detaliile relevante fiecărui caz - vârsta, sexul  pacientului, localitatea în care a fost inițial depistat ca pozitiv, statusul, precum și sursa acestor informații.
    </p>

    <h3>Sursa datelor și politica de actualizare</h3>
    <p>
        Datele publicate în aplicație au fost extrase din comunicatele oficiale de presă ale Grupului de Comunicare Strategică al Ministerului Afacerilor Interne, Institutul Național de Sănătate Publică România.
        <br><br>
        Aceste date sunt actualizate imediat ce noi cazuri sunt confirmate de către autoritățile române și comunicate, datele sunt preluate într-un tabel de către echipa de voluntari a proiectului, de unde ulterior sunt actualizate în cadrul aplicației. Aplicația se actualizează automat la fiecare 5 minute.
        <br>
        <strong>Precizare importantă:</strong> cazurile au fost asociate cu județul unde ele au fost confirmate. După confirmare este posibil ca pacientul să fi ajuns într-un spital din alt județ. Deoarece această informație nu este transparent comunicată, am decis să prezentăm pe hartă momentul confirmării
    </p>

    <p>
        Până de curând am oferit acces la datele colectate via GDrive. Datorită cererilor prea mari, ne vedem siliți să oprim accesul în acest mod. Datele pot fi accesate în format JSON prin intermediul unui API dedicat (momentan e static, pe viitor vom analiza posibilitatea de a permite aplicarea de filtre):
    </p>
    <ul>
        <li><a href="https://covid19.geo-spatial.org/api/dashboard/getCasesByCounty" title="https://covid19.geo-spatial.org/api/dashboard/getCasesByCounty" target="_blank">https://covid19.geo-spatial.org/api/dashboard/getCasesByCounty</a></li>
        <li><a href="https://covid19.geo-spatial.org/api/dashboard/getDeadCasesByCounty" title="https://covid19.geo-spatial.org/api/dashboard/getDeadCasesByCounty" target="_blank">https://covid19.geo-spatial.org/api/dashboard/getDeadCasesByCounty</a></li>
        <li><a href="https://covid19.geo-spatial.org/api/dashboard/getHealthCasesByCounty" title="https://covid19.geo-spatial.org/api/dashboard/getHealthCasesByCounty" target="_blank">https://covid19.geo-spatial.org/api/dashboard/getHealthCasesByCounty</a></li>
        <li><a href="https://covid19.geo-spatial.org/api/dashboard/getDailyCaseReport" title="https://covid19.geo-spatial.org/api/dashboard/getDailyCaseReport" target="_blank">https://covid19.geo-spatial.org/api/dashboard/getDailyCaseReport</a></li>
        <li><a href="https://covid19.geo-spatial.org/api/dashboard/getCaseRelations" title="https://covid19.geo-spatial.org/api/dashboard/getCaseRelations" target="_blank">https://covid19.geo-spatial.org/api/dashboard/getCaseRelations</a></li>
        <li><a href="https://covid19.geo-spatial.org/api/dashboard/getPercentageByGender" title="https://covid19.geo-spatial.org/api/dashboard/getPercentageByGender" target="_blank">https://covid19.geo-spatial.org/api/dashboard/getPercentageByGender</a></li>
        <li><a href="https://covid19.geo-spatial.org/api/dashboard/getCasesByAgeGroup" title="https://covid19.geo-spatial.org/api/dashboard/getCasesByAgeGroup" target="_blank">https://covid19.geo-spatial.org/api/dashboard/getCasesByAgeGroup</a></li>
    </ul>

    <h3>Codul sursă</h3>

    <p>
        Codul sursă al aplicație este publicat sub licență <a href="https://opensource.org/licenses/MIT" title="https://opensource.org/licenses/MIT" target="_blank">MIT</a> și poate fi accesat pe platforma <a href="https://github.com/geospatialorg/covid19" target="_blank" title="https://github.com/geospatialorg/covid19">GitHub</a>.
    </p>

    <h3>Echipa</h3>
    <p>
        Demersul 100% voluntar este inițiat și susținut de către geo-spatial.org. Din echipă fac parte (ordine alfabetică):
    </p>
    <ul>
        <li>Cristina Alexa</li>
        <li>Cristi Boboc</li>
        <li>Octavian Borcan</li>
        <li>Marius Budileanu</li>
        <li>Vasile Crăciunescu</li>
        <li>Mihai Dumitru</li>
        <li>Bogdan Grama</li>
        <li>Codrina Ilie</li>
        <li>Robert Ille</li>
        <li>Iulian Iuga</li>
        <li>Marian Neagul</li>
        <li>Silviu Panica</li>
        <li>Gabriela Stancu</li>
        <li>Ruxandra Vâlcu</li>
        <li>Cristina Vrînceanu</li>
    </ul>

    <h3>Contact</h3>
    <p>Pentru implicare, întrebări și sugestii ne puteți scrie pe <a href="mailto:covid19@geo-spatial.org" title="e-mail">e-mail</a>, <a href="https://groups.yahoo.com/neo/groups/geo-spatial/info" target="_blank" title="https://groups.yahoo.com/neo/groups/geo-spatial/info">lista de discuții</a> sau pe canalul <a href="http://bit.ly/2TzN9Yx" title="Slack" target="_blank">Slack</a>.</p>

    <h3>Proiecte similare </h3>
    <p>Alte proiecte asemănătoare în România: </p>
    <ul>
        <li><a href="https://coronavirus.casajurnalistului.ro/" title="Monitorizare Coronavirus" target="_blank">Monitorizare Coronavirus</a></li>
        <li><a href="https://covid19-romania.appspot.com/" title="https://covid19-romania.appspot.com/" target="_blank">https://covid19-romania.appspot.com/</a></li>
        <li><a href="https://instnsp.maps.arcgis.com/apps/opsdashboard/index.html#/5eced796595b4ee585bcdba03e30c127" title="https://instnsp.maps.arcgis.com/apps/opsdashboard/index.html#/5eced796595b4ee585bcdba03e30c127" target="_blank">https://instnsp.maps.arcgis.com/apps/opsdashboard/index.html#/5eced796595b4ee585bcdba03e30c127</a></li>
    </ul>

    <h3>Disclaimer </h3>
    <p>
        geo-spatial.org nu va fi răspunzator pentru nici un fel de pagube directe, indirecte, accidentale rezultate din utilizarea sau imposibilitatea utilizării informațiilor din cadrul aplicației. Acesta este oferită în această formă, fără alte garanții. geo-spatial.org nu este și nu poate fi făcut responsabil pentru nepotriviri, indisponibilități sau alte defecte ale acestei aplicații sau ale conținutului ei.
    </p>

    <h3>Politica de confidențialitate </h3>
    <p>Colectăm în mod automat informații statistice privind traficul pe site. Înregistrăm automat următoarele informații despre vizita dumneavoastră:</p>
    <ul>
        <li>Adresa IP (Internet Protocol) și furnizorul de servicii Internet;</li>
        <li>Ora la care s-a accesat site-ul;</li>
        <li>Tipul și limba browser-ului;</li>
        <li>Sistem de operare;</li>
        <li>Rezoluția ecranului.</li>
    </ul>
</div>


