<div class="ui-card ui-corner-top">
  <div class="ui-card-body text-center" style="padding: 0.3em">
    <div class="lg-only">
      <ul id="layers">
        <li *ngFor="let item of maps">
          <button pButton
                  label="{{item.title}}"
                  [ngClass]="{'ui-button-secondary': item.id !== activeMap.id}"
                  (click)="setActiveLayer(item)">
          </button>
        </li>
        <!-- <li><button pButton label="Zone carantina" [ngClass]="{'ui-button-secondary': activeMap.id !== 'active'}" (click)="setActiveLayer('active')"></button></li> -->
      </ul>
    </div>
    <div class="xs-only">
      <h2 style="text-align: center;">Hartă cazuri</h2>

      <p-dropdown [options]="maps"
                  [(ngModel)]="activeMap"
                  optionLabel="title"
                  [style]="{'width': '100%', 'margin-bottom': '5px', 'margin-top': '5px'}" (onChange)="activeMapChange()">
      </p-dropdown>
    </div>
  </div>
</div>
<div id="map" class="ui-card ui-corner-bottom">
  <div class="info-modal" *ngIf="selectedFeature" [ngStyle]="{background: activeMap?.style?.fill.color}">
    <h3>{{selectedFeature.get('county')}}</h3>
    <p>
      Cazuri confirmate: {{selectedFeature.get('total_case')}}
      <em style="display: block;font-size: 12px;">(după locul confirmării)</em>
    </p>
    <p>
      Total vindecari: {{selectedFeature.get('total_healed')}}
      <em style="display: block;font-size: 12px;">(după locul externării)</em>
    </p>
    <p>Total decese: {{selectedFeature.get('total_dead')}}</p>
    <!-- <p>Cazuri active: {{selectedFeature.get('total_active')}}</p> -->
  </div>

  <div class="map-legend" *ngIf="legendVisible">
    <p><strong>Legenda</strong></p>
    <div [innerHtml]="generateLegend()"></div>
  </div>

    <div class="info-modal" *ngIf="selectedQuarantineZone">
      <h3>{{selectedQuarantineZone.get('uat')}}</h3>
      <p>Populatie: {{selectedQuarantineZone.get('population')}}</p>
    </div>

    <div class="info-modal" *ngIf="selectedRoad">
      <h3>{{selectedRoad.get('ref')}}</h3>
    </div>

    <div class="info-modal" *ngIf="selectedCheckpoint">
      <h3>Punct de control</h3>
      <p>{{selectedCheckpoint.get('Descriere')}}</p>
    </div>

    <div class="info-modal" *ngIf="selectedMetropolitan" style="max-width: 200px;">
      <h3>{{selectedMetropolitan.get('uat')}}</h3>
      <p *ngIf="selectedMetropolitan.get('metropolitan_zone')">Zona: {{selectedMetropolitan.get('metropolitan_zone')}}</p>
      <!-- <p>An infiintare: {{selectedMetropolitan.get('an_infiintare')}}</p> -->
      <p>Populatie: {{selectedMetropolitan.get('population')}}</p>
    </div>
</div>

<p-dialog header="Atenție" styleClass="disclaimer" [(visible)]="displayDisclaimer" [responsive]="true" [modal]="true">
  <div>
   <p>
     Începând cu data de 02.04.2020, autoritățile nu mai comunică 
    numărul de vindecări la nivel de județ, prezentând doar numărul total 
    al pacienților declarați vindecați. Din această cauză, etichetăm 
    vindecările noi cu cu locația "JUDEȚ NECUNOSCUT".
  </p>

  <p>
    Echipa de voluntari 
    verifică sistematic presa locală și anunțurile autorităților publice 
    locale (DSP-uri, spitale, etc.) și, acolo unde găsește informații 
    verificabile, mută cazurile din "JUDEȚ NECUNOSCUT" în județul 
    corect de vindecare.
  </p> 
  </div>

  <p-footer>
    <div style="text-align: center;">
      <button pButton type="button" label="Inchide"  class="ui-button-warning" (click)="showDisclaimer(false)"></button>
    </div>
  </p-footer>
</p-dialog>
