<div class="ui-card ui-corner-top">
  <div class="ui-card-body text-center" style="padding: 0.3em">
    <div class="lg-only">
      <ul id="layers">
        <li *ngFor="let item of maps">
          <button pButton
                  label="{{'home.'+item.title | translate}}"
                  [ngClass]="{'ui-button-secondary': item.id !== activeMap.id}"
                  (click)="setActiveLayer(item)">
          </button>
        </li>
        <!-- <li><button pButton label="Zone carantina" [ngClass]="{'ui-button-secondary': activeMap.id !== 'active'}" (click)="setActiveLayer('active')"></button></li> -->
      </ul>
    </div>
    <div class="xs-only">
      <h2 style="text-align: center;">{{'home.Hartă cazuri' | translate}}</h2>

      <p-dropdown [options]="maps"
                  [(ngModel)]="activeMap"
                  optionLabel="title"
                  [style]="{'width': '100%', 'margin-bottom': '5px', 'margin-top': '5px'}" (onChange)="activeMapChange()">
      </p-dropdown>
    </div>
  </div>
</div>
<div id="map" class="ui-card ui-corner-bottom">
  <div class="info-modal" *ngIf="selectedFeature" [ngStyle]="{background: activeMap?.style?.fill.color}">
    <h3>{{selectedFeature.get('county')}}</h3>
    <p>
      {{'home.Cazuri confirmate' | translate}} : {{selectedFeature.get('total_case')}}
      <!-- <em style="display: block;font-size: 12px;">{{'home.(după locul confirmării)' | translate}}</em> -->
    </p>
    <p>
      {{'home.Cazuri active' | translate}} : {{selectedFeature.get('total_active')}}
    </p>
    <p>
      {{'home.Cazuri noi (24h)' | translate}} : {{selectedFeature.get('new_case')}}
    </p>
    <p>
      {{'home.Total vindecări' | translate}}: {{selectedFeature.get('total_healed')}}
      <!-- <em style="display: block;font-size: 12px;">{{'home.(după locul externării)' | translate}}</em> -->
    </p>
    <p>{{'home.Total decese' | translate}}: {{selectedFeature.get('total_dead')}}</p>
    <!-- <p>Cazuri active: {{selectedFeature.get('total_active')}}</p> -->
  </div>

  <div class="map-legend" *ngIf="legendVisible">
    <p><strong>{{'home.Legenda' | translate}}</strong></p>
    <div [innerHtml]="generateLegend()"></div>
  </div>

    <div class="info-modal" *ngIf="selectedQuarantineZone">
      <h3>{{selectedQuarantineZone.get('denumire')}}</h3>
      <p>{{'home.Populatie' | translate}}: {{selectedQuarantineZone.get('populatie')}}</p>
    </div>

    <div class="info-modal" *ngIf="selectedRoad">
      <h3>{{selectedRoad.get('ref')}}</h3>
    </div>

    <div class="info-modal" *ngIf="selectedCheckpoint">
      <h3>{{'home.Punct de control' | translate}}</h3>
      <p>{{selectedCheckpoint.get('Descriere')}}</p>
    </div>

    <div class="info-modal" *ngIf="selectedMetropolitan" style="max-width: 200px;">
      <h3>{{selectedMetropolitan.get('uat')}}</h3>
      
      <!-- <p>An infiintare: {{selectedMetropolitan.get('an_infiintare')}}</p> -->
      <p>{{'home.Populatie' | translate}}: {{selectedMetropolitan.get('population')}}</p>
    </div>

    <div class="info-modal" *ngIf="selectedCovid14Zone" style="max-width: 200px;">
      <h3>{{selectedCovid14Zone.get('uat')}}</h3>
      <p *ngIf="selectedCovid14Zone.get('judet')">{{'home.Judet' | translate}}: {{selectedCovid14Zone.get('judet')}}</p>
      <p *ngIf="selectedCovid14Zone.get('population')">{{'home.Populatie' | translate}}: {{selectedCovid14Zone.get('population')}}</p>
      <br>
      <p>{{'home.Rata de incidenta la 1000 locuitori' | translate}}: <strong>{{selectedCovid14Zone.get('incidenta')}}</strong></p>
    </div>
</div>

<p-dialog header="{{'common.Atenție' | translate}}" styleClass="disclaimer" [(visible)]="displayDisclaimer" [responsive]="true" [modal]="true">
  <div>
   <p>
    {{'home.message_health_1' | translate}}
  </p>

  <p>
    {{'home.message_health_2' | translate}}
  </p>

  <p>
    {{'home.message_health_3' | translate}}
  </p>

  <p>
    {{'home.message_health_4' | translate}}
  </p>

  <p>
    {{'home.message_health_5' | translate}}
  </p>

  <p>
    {{'home.message_health_6' | translate}}
  </p>
  </div>

  <p-footer>
    <div style="text-align: center;">
      <button pButton type="button" label="{{'common.Inchide' | translate}}"  class="ui-button-warning" (click)="showDisclaimer(false)"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="{{'common.Atenție' | translate}}" styleClass="disclaimer" [(visible)]="displayDisclaimerDeaths" [responsive]="true" [modal]="true">
  <div>
   <p>
    {{'home.Cazuri confirmate' | translate}}
    Începând cu data de 11.06.2020, autoritățile nu mai comunică decesele la nivel de județ, prezentând doar numărul total al pacienților decedați 
    și județele în care se găsesc spitale ce au înregistrat decese. Din această cauză, etichetăm decesele noi cu cu locația "JUDEȚ NECUNOSCUT" 
    (plasate pe hartă în Marea Neagră).
  </p>

  <p>
    {{'home.Cazuri confirmate' | translate}}
    Echipa de voluntari verifică sistematic presa locală și anunțurile autorităților publice locale (DSP-uri, spitale, etc.) și, acolo unde găsește informații verificabile, 
    mută cazurile din "JUDEȚ NECUNOSCUT" în județul corect de deces.
  </p> 
  </div>

  <p-footer>
    <div style="text-align: center;">
      <button pButton type="button" label="{{'common.Inchide' | translate}}"  class="ui-button-warning" (click)="showDisclaimerDeaths(false)"></button>
    </div>
  </p-footer>
</p-dialog>
