<div style="width: 100%; text-align: center; padding-top: 10px; padding-bottom: 10px;">
    <p-dropdown id="statistics-list" [options]="list"
        [(ngModel)]="activeChart"
        optionLabel="title" (onChange)="onGraphChange()">
    </p-dropdown>
</div>

<div class="p-grid statistics-container no-margin no-padding" #mainGrid>
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" id="canvasTrend" *ngIf="activeChart.id === 1">
        <div style="width: 70%;margin: 0 auto;" *ngIf="!isMobile">
            <iframe  id="regression" seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/regression.html"></iframe>
        </div>
        <!-- <canvas id="canvasTrendline" #canvasTrendline></canvas> -->
        
        <iframe *ngIf="isMobile" id="regression" seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/regression-mobile.html"></iframe>
    </div>

    <!-- <iframe *ngIf="isMobile" id="regression" seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/regression-mobile.html"></iframe> -->

    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" id="canvasDaily" *ngIf="activeChart.id === 2">
        <!-- <canvas id="canvasDailyCases" #canvasDailyCases></canvas> -->
        <div style="width: 70%;margin: 0 auto;" *ngIf="!isMobile">
            <iframe  seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/dailycases.html"></iframe>
        </div>
        <iframe *ngIf="isMobile" seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/dailycases-mobile.html"></iframe>
    </div>
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" id="canvasGrowth" *ngIf="activeChart.id === 3">
        <!-- <canvas id="canvasGrowthRate" #canvasGrowthRate></canvas> -->
        <div style="width: 70%;margin: 0 auto;" *ngIf="!isMobile">
            <iframe seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/growthrate.html"></iframe>
        </div>
        
        <iframe *ngIf="isMobile" seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/growthrate-mobile.html"></iframe>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" id="canvasByAge" *ngIf="activeChart.id === 4">
        <!-- <canvas id="canvasFreqByAge" #canvasFreqByAge></canvas> -->
        <div style="width: 60%;margin: 0 auto;">
            <iframe seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/freqbyage.html"></iframe>
        </div>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" *ngIf="activeChart.id === 5">
        <!-- <canvas id="canvasFreqByAge" #canvasFreqByAge></canvas> -->
        <div style="width: 70%;margin: 0 auto;">
            <iframe seamless frameborder="0"  height="300px" scrolling="yes" src="https://www.graphs.ro/embed.php?embed=covid_r&range=365"></iframe>
        </div>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" *ngIf="activeChart.id === 6">
        <!-- <canvas id="canvasFreqByAge" #canvasFreqByAge></canvas> -->
        <div style="width: 70%;margin: 0 auto;">
            <iframe seamless frameborder="0"  height="300px" scrolling="yes" src="https://geospatial-shiny-covid19.dev.info.uvt.ro/medie-covid-judete/"></iframe>
        </div>
    </div>
</div>



