<div class="p-grid statistics-container no-margin no-padding" #mainGrid>
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width">
        <canvas id="canvasTrendline" #canvasTrendline></canvas>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasDailyCases" #canvasDailyCases></canvas>
    </div>
    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasGrowthRate" #canvasGrowthRate></canvas>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasFreqByAge" #canvasFreqByAge></canvas>
    </div>
    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasDistributionBySex" #canvasDistributionBySex></canvas>
    </div>

</div>

