<div class="p-grid statistics-container no-margin no-padding" #mainGrid>
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" id="canvasTrend">
        <!-- <canvas id="canvasTrendline" #canvasTrendline></canvas> -->
        <iframe id="regression" seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/regression.html"></iframe>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" id="canvasDaily">
        <!-- <canvas id="canvasDailyCases" #canvasDailyCases></canvas> -->
        <iframe seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/dailycases.html"></iframe>
    </div>
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width" id="canvasGrowth">
        <!-- <canvas id="canvasGrowthRate" #canvasGrowthRate></canvas> -->
        <iframe seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/growthrate.html"></iframe>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width" id="canvasByAge">
        <!-- <canvas id="canvasFreqByAge" #canvasFreqByAge></canvas> -->
        <iframe seamless frameborder="0" scrolling="yes" src="https://apps.sage.ieat.ro/covid19/charts/embedded/freqbyage.html"></iframe>
    </div>
</div>



