/* iframe {
    width: 100%;
    height: 371px;
    margin-bottom: 20px;
}

@media (max-width: 550px) {
    iframe {
        width: 100%;
        height: 100%;
        max-width: 344px;
    }
} */

.only-xs {
    display: none;
}

.only-large {
    display: block;
}

.statistics-container iframe {
    height: 700px;
    width: 100%;
}

// .statistics-container #canvasDaily iframe {
//     // height: 925px;
//     // width: 70%;
// }

.statistics-container #canvasByAge iframe, .statistics-container #canvasByGender iframe {
    height: 550px;
    width: 100%;
}

@media (max-width: 550px) {
    .full-width {
        width: 100%;
    }

    .only-xs {
        display: block;
    }

    .only-large {
        display: none;
    }

    .statistics-container iframe, .statistics-container #canvasDaily iframe, .statistics-container #canvasByGender iframe {
        height: 320px;
    }

    .statistics-container #canvasByAge iframe {
        height: 200px;
    }
}

#statistics-list .ui-dropdown {
    width: 30%;
}

@media(max-width: 1000px) {
    #statistics-list .ui-dropdown {
        width: 90% !important;
    }
}

@media(min-width: 1001px) and (max-width: 1200px) {
    #statistics-list .ui-dropdown {
        width: 50%;
    }
}

@media(min-width: 1201px) and (max-width: 1368px) {
    #statistics-list .ui-dropdown {
        width: 40%;
    }
}

