<div class="p-grid ui-fluid">
    <div class="p-col-10" style="border: 1px red solid;">
        <button type="button" class="ui-button-raised" label="Adaugă" pButton style="margin-bottom: 5px; width: 100px"></button>
        <p-table [value]="tableData" selectionMode="single" id="rasterTable">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nr. de cazuri</th>
                    <th>Sursă</th>
                    <th>Status</th>
                    <th>Data diagnostic</th>
                    <th>Data vindecare</th>
                    <th>Data mortii</th>
                    <th>Sex</th>
                    <th>Varsta</th>
                    <th>Judej</th>
                    <th>Localitate</th>
                    <th>Referinta</th>
                    <th width="120">Acțiuni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.case_no}}</td>
                    <td>{{item.source_no}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.diagnostic_date}}</td>
                    <td>{{item.healing_date}}</td>
                    <td>{{item.death_date}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.county}}</td>
                    <td>{{item.siruta}}</td>
                    <td>{{item.reference}}</td>
                    <td class="center-align table-actions">
                        <i class="fa fa-download link" title="Generează serviciul WMTS" (click)="generateWMTS(item);" 
                            [ngClass]="{'disabled': item.id_status !== 3 || item.cod_eroare}" style="color: green; transform: rotate(270deg);"></i>
                        <i class="fa fa-trash link" [ngClass]="{'disabled': item.id_status > 3}" title="Anulează înregistrarea" (click)="deleteItem(item);"></i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="12" *ngIf="tableData.length === 0">Nu au fost găsite înregistrări.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <tr>
                    <span class="table-action" (click)="changePage('first')"><i class="fa fa-step-backward"></i></span>
                    <span class="table-action" (click)="changePage('prev')"><i class="fa fa-caret-left"></i></span>
                    <span class="table-action pagination">
                        Pagina
                        {{tableParams['page']}} din {{tableParams['lastPage']}}
                    </span>
                    <span class="table-action" (click)="changePage('next')"><i class="fa fa-caret-right"></i></span>
                    <span class="table-action" (click)="changePage('last')"><i class="fa fa-step-forward"></i></span>
                    <span class="table-action" (click)="loadData()"><i class="fa fa-sync-alt"></i></span><span *ngIf="tableParams.total > 0" 
                        class="table-summary">Înregistrări afișate {{tableParams.offset+1}}-{{ (tableParams.offset + tableParams.limit) < 
                            tableParams.total ? (tableParams.offset + tableParams.limit): tableParams.total}} din {{tableParams.total}}</span>
                    <span *ngIf="tableParams.total == 0" class="table-summary">Nu există înregistrări</span>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>




