<div class="p-grid ui-fluid">
    <div style="width: 100%; margin: 20px; height: auto;">
        <form class="ui-form" [formGroup]="myForm">
            <div class="p-grid ui-fluid" style="padding-right: 5px;">
                <div class="p-col-10">
                        <label style="display: inline-block; padding-right: 10px;">Județ</label>
                        <span style="display: inline-block; width: 220px;"> 
                            <p-dropdown [options]="countyList" formControlName="county_code" optionLabel="county" 
                            [autoDisplayFirst]="false" (onChange)="filterTable()" [showClear]="true"></p-dropdown>
                        </span>
                </div>
                <div class="p-col-2" style="padding-right: 5px;">
                    <button type="button" class="ui-button-raised" label="Adaugă caz confirmat" pButton style="margin-bottom: 5px; width: 175px; float: right;"  
                        (click)="openAddModal(null, false)"></button>
                </div>
            </div>
 
        </form>
        
        <p-table [value]="tableData" selectionMode="single" id="rasterTable">
            <ng-template pTemplate="header">
                <tr>
                    <th width="70">Caz nr.</th>
                    <th width="120">Caz sursă</th>
                    <th width="100">Status</th>
                    <th width="100">Dată diagnostic</th>
                    <th width="100">Dată vindecare</th>
                    <th width="100">Data morții</th>
                    <th width="50">Sex</th>
                    <th width="60">Vârsta</th>
                    <th width="60">Cod județ</th>
                    <th width="180">Județ</th>
                    <th width="180">Localitate</th>
                    <th>Referință</th>
                    <th width="60">Acțiuni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="right-align">{{item.case_no}}</td>
                    <td class="right-align">{{item.source_no}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.diagnostic_date}}</td>
                    <td class="right-align">{{item.healing_date}}</td>
                    <td class="right-align">{{item.death_date}}</td>
                    <td class="center-align">{{item.gender}}</td>
                    <td class="right-align">{{item.age}}</td>
                    <td class="center-align">{{item.county_code}}</td>
                    <td>{{item.county}}</td>
                    <td>{{item.uat}}</td>
                    <td class="ellipsisClass" title="{{item.reference}}">{{item.reference}}</td>
                    <td class="center-align table-actions">
                        <i class="fa fa-edit link" title="Editează înregistrarea" (click)="openAddModal(item, true);"></i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="13" *ngIf="tableData.length === 0">Nu au fost găsite înregistrări.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <tr>
                    <td colspan="13">
                        <span class="table-action" (click)="changePage('first')"><i class="fa fa-step-backward"></i></span>
                        <span class="table-action" (click)="changePage('prev')"><i class="fa fa-caret-left"></i></span>
                        <span class="table-action pagination">
                            Pagina
                            {{tableParams['page']}} din {{tableParams['lastPage']}}
                        </span>
                        <span class="table-action" (click)="changePage('next')"><i class="fa fa-caret-right"></i></span>
                        <span class="table-action" (click)="changePage('last')"><i class="fa fa-step-forward"></i></span>
                        <span class="table-action" (click)="loadData()"><i class="fa fa-sync-alt"></i></span><span *ngIf="tableParams.total > 0" 
                            class="table-summary">Înregistrări afișate {{tableParams.offset+1}}-{{ (tableParams.offset + tableParams.limit) < 
                                tableParams.total ? (tableParams.offset + tableParams.limit): tableParams.total}} din {{tableParams.total}}</span>
                        <span *ngIf="tableParams.total == 0" class="table-summary">Nu există înregistrări</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-add-new-patient 
*ngIf="display" 
[display]="display" 
[modalTitle]="modalTitle" 
[idPatient]="idPatient" 
(displayChange)="onDialogClose($event)"></app-add-new-patient>


