<div class="p-grid ui-fluid">
    <div style="width: 100%; margin: 20px; height: auto;">
        <form class="ui-form" [formGroup]="myForm">
            <div class="p-grid ui-fluid" style="padding-right: 5px;">
                <div class="p-col-1">
                    <label>Număr caz:</label>
                    <input pInputText formControlName="case_no" [type]="'search'">    
                </div>
                <div class="p-col-1">
                    <label>Caz sursă:</label>
                    <input pInputText formControlName="source_no" [type]="'search'">    
                </div>
                <div class="p-col-1">
                    <label>Județ:</label>
                    <p-dropdown [options]="countyList" formControlName="county_code" optionLabel="county" 
                        [autoDisplayFirst]="false" [showClear]="true"></p-dropdown>
                </div>
                <div class="p-col-1">
                    <label>Status:</label>
                    <p-dropdown [options]="statusList" formControlName="status" [autoDisplayFirst]="false"
                        optionLabel="status_name" [showClear]="true"></p-dropdown>
                </div>
                <div class="p-col-1">
                    <button type="button" class="ui-button-raised" label="Filtrează" pButton (click)="filterTable()" style="margin-top: 20px;"></button>
                </div>
                <div class="p-col-1">
                    <button type="button" class="ui-button-raised" label="Curăță filtrele" pButton (click)="clearfilterTable()" style="margin-top: 20px;"></button>
                </div>
                <div class="p-col-6" style="padding-right: 5px;">
                    <button type="button" class="ui-button-raised" label="Adaugă caz confirmat" pButton style="margin-bottom: 5px; width: 175px; float: right; margin-top: 20px;"  
                        (click)="openAddModal(null, false)"></button>
                </div>
            </div>
 
        </form>
        
        <p-table [value]="tableData" selectionMode="single" id="rasterTable" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th width="70">Număr caz</th>
                    <th width="70">Caz sursă</th>
                    <th width="70">Status</th>
                    <th width="90">Dată diagnostic</th>
                    <th width="90">Dată vindecare</th>
                    <th width="90">Dată deces</th>
                    <th width="50">Sex</th>
                    <th width="60">Vârsta</th>
                    <th width="100">Asimptomatic</th>
                    <th>Județ</th>
                    <th>Localitate</th>
                    <th>Țara probabilă de infectare</th>
                    <th>Alte informații</th>
                    <th width="110">Acțiuni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="right-align"><span class="ui-column-title">Număr caz</span> {{item.case_no}}</td>
                    <td class="right-align"><span class="ui-column-title">Caz sursă</span>{{item.source_no}}</td>
                    <td><span class="ui-column-title">Status</span>{{item.status}}</td>
                    <td><span class="ui-column-title">Dată diagnostic</span>{{item.diagnostic_date}}</td>
                    <td class="right-align"><span class="ui-column-title">Dată vindecare</span>{{item.healing_date}}</td>
                    <td class="right-align"><span class="ui-column-title">Dată deces</span>{{item.death_date}}</td>
                    <td class="center-align"><span class="ui-column-title">Sex</span>{{item.gender}}</td>
                    <td class="right-align"><span class="ui-column-title">Vârsta</span>{{item.age}}</td>
                    <td class="ellipsisClass center-align" title="{{item.reference}}"><span class="ui-column-title">Prezintă simptome</span>{{item.symptoms_flag}}</td>
                    <td class="center-align"><span class="ui-column-title">Județ</span>{{item.county}}</td>
                    <td class="center-align"><span class="ui-column-title">Localitate</span>{{item.uat}}</td>
                    <td class="ellipsisClass" title="{{item.reference}}"><span class="ui-column-title">Țara probabilă de infectare</span>{{item.country_of_infection}}</td>
                    <td class="ellipsisClass" title="{{item.reference}}"><span class="ui-column-title">Alte informații</span>{{item.other_info}}</td>
                    <td class="center-align table-actions">
                        <span class="ui-column-title">Număr caz</span>
                        <i class="fa fa-clipboard link" [ngClass]="{'disabled1': !item.reference }" title="Copiază link-ul referinței în clipboard " 
                            (click)="copyStringToClipboard(item.reference);"></i>
                        <i class="fa fa-clipboard-list link" [ngClass]="{'disabled1': !item.healed_reference }" title="Copiază link-ul referinței pentru vindecare în clipboard " 
                            (click)="copyStringToClipboard(item.healed_reference);"></i>
                        <i class="fa fa-edit link" title="Editează înregistrarea" (click)="openAddModal(item, true);"></i>
                        <i class="fa fa-trash link" title="Șterge înregistrarea" (click)="deleteItem(item.case_id);"></i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="14" *ngIf="tableData.length === 0">Nu au fost găsite înregistrări.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <tr>
                    <td colspan="14">
                        <span class="table-action" (click)="changePage('first')"><i class="fa fa-step-backward"></i></span>
                        <span class="table-action" (click)="changePage('prev')"><i class="fa fa-caret-left"></i></span>
                        <span class="table-action pagination">
                            Pagina
                            {{tableParams['page']}} din {{tableParams['lastPage']}}
                        </span>
                        <span class="table-action" (click)="changePage('next')"><i class="fa fa-caret-right"></i></span>
                        <span class="table-action" (click)="changePage('last')"><i class="fa fa-step-forward"></i></span>
                        <span class="table-action" (click)="loadData()"><i class="fa fa-sync-alt"></i></span><span *ngIf="tableParams.total > 0" 
                            class="table-summary">Înregistrări afișate {{tableParams.offset+1}}-{{ (tableParams.offset + tableParams.limit) < 
                                tableParams.total ? (tableParams.offset + tableParams.limit): tableParams.total}} din {{tableParams.total}}</span>
                        <span *ngIf="tableParams.total == 0" class="table-summary">Nu există înregistrări</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<app-add-new-patient 
*ngIf="display" 
[display]="display" 
[modalTitle]="modalTitle" 
[idPatient]="idPatient" 
(displayChange)="onDialogClose($event)"></app-add-new-patient>


<p-confirmDialog #deleteDialog icon="fa fa-exclamation-triangle"  header="Atenție" key="deleteConfirm">
    <p-footer>
        <button class="ui-button-raised" type="button" pButton icon="fa fa-times" label="Da"
            (click)="deleteDialog.accept()"></button>
        <button class="ui-button-raised ui-button-secondary" type="button" pButton icon="fa fa-times" label="Nu"
            (click)="deleteDialog.reject()"></button>
    </p-footer>
</p-confirmDialog>


<p-confirmDialog #warningDialog icon="fa fa-exclamation-triangle"  header="Atenție" key="warningConfirm">
    <p-footer>
        <button class="ui-button-raised ui-button-secondary" type="button" pButton icon="fa fa-times" label="Închide"
            (click)="warningDialog.reject()"></button>
    </p-footer>
</p-confirmDialog>

