<div id="manifest-area" class="page-container">
    <div style="text-align: center;padding: 20px 0;color: red;">{{'manifest.Update 02.04.2020: Autoritățile au reluat raportarea cazurilor la nivel de județ'| translate}}.</div>
    <div id="manifest-antet">
        <div id="manifest-logo"><img src="/assets/images/geospatial_small.png"></div>
        <div id="manifest-date">{{'manifest.BUCUREȘTI, 20 MARTIE 2020'| translate}}.</div>
    </div>
    <br>
    <p id="manifest-to">
        {{'manifest.Către: Președinția României'| translate}}<br>
            <span>&nbsp;</span>{{'manifest.Guvernul României'| translate}}<br>
            <span>&nbsp;</span>{{'manifest.Ministerul Afacerilor Interne'| translate}}<br>
            <span>&nbsp;</span>{{'manifest.Departamentului pentru Situații de Urgență'| translate}}<br>
            <span>&nbsp;</span>{{'manifest.Ministerul Sănătății'| translate}}<br>
            <span>&nbsp;</span>{{'manifest.Institutul Național de Sănătate Publică'| translate}}
    </p>
    <br>

    <h2>{{'manifest.Manifest pentru publicarea completă a datelor privind evoluția pandemiei Covid-19 pe teritoriul României' | translate}}</h2>
    <br>
    <p>
        <strong>
            {{'manifest.row1'| translate}}.
        </strong>
    </p>
    <p>
        {{'manifest.row2' | translate}} <strong>{{'manifest.am realizat' | translate}}</strong> {{'manifest.(prin utilizarea tehnologiilor open source)' | translate}} <strong>{{'manifest.o hartă a distribuției spațiale a tuturor cazurilor COVID-19 confirmate oficial' | translate}}</strong> -
        <a href="/" title="{{'header.Coronavirus COVID-19 România' | translate}}">{{'header.Coronavirus COVID-19 România' | translate}}</a> -, 
        {{'manifest.row3'| translate}}.
    </p>

    <p>{{'manifest.Pentru a menține' | translate}} <a href="/" title="{{'header.Coronavirus COVID-19 România' | translate}}">{{'header.Coronavirus COVID-19 România' | translate}}</a> {{'manifest.row4' | translate}}:
    </p>
    <ol>
        <li>{{'manifest.row5' | translate}}.</li>
        <li>{{'manifest.row6' | translate}}.</li>
        <li>{{'manifest.row7' | translate}}.</li>
        <li>{{'manifest.row8' | translate}}.</li>
        <li>{{'manifest.row9' | translate}}.</li>
        <li>{{'manifest.row10' | translate}}</li>
    </ol>


    <p>{{'manifest.row11' | translate}}. </p>
    <p>{{'manifest.row12' | translate}}.</p>
    <p>{{'manifest.row13' | translate}}.</p>
    <p>{{'manifest.row14' | translate}}.</p>

    <p>{{'manifest.row15' | translate}}. </p>

    <p>{{'manifest.Menționăm că' | translate}}:</p>
    <ul>
        <li><a href="/" title="{{'header.Coronavirus COVID-19 România' | translate}}">{{'header.Coronavirus COVID-19 România' | translate}}</a> {{'manifest.row16' | translate}}. </li>
        <li>{{'manifest.row17' | translate}}. </li>
        <li>{{'manifest.row18' | translate}}.</li>
        <li>{{'manifest.row19' | translate}}.</li>
    </ul>

    <p>{{'manifest.row20' | translate}}.</p>

    <div style="font-style: italic;">
        <p>{{'manifest.Manifest redactat de către Asociația geo-spatial.org și susținut de către' | translate}}: </p>
        <p>
            Asociația pentru Tehnologie si Internet - ApTI <br>
            Centrul pentru Inovare Publică <br>
            Funky Citizens<br>
            Expert Forum<br>
            Comunitatea Declic<br>
            Asociația CivicNet<br>
            Centrul de Resurse pentru participare publică<br>
            Centrul pentru Jurnalism Independent<br>
            Centrul Român pentru Jurnalism de Investigație<br>
            Freedom House Romania<br>
            ActiveWatch<br>
            Asociația Pentru Apărarea Drepturilor Omului în România - Comitetul Helsinki (APADOR-CH)<br>
            Centrul pentru Inovație în Medicină<br>
            Casa Jurnalistului<br>
            Asociația Urbannect<br>
            Corupția ucide<br>
            Geeks 4 Democracy
        </p>
    </div>

    <p>
        {{'manifest.Persoană de contact' | translate}}: Vasile Crăciunescu<br>
        Mail: <a type="email" href="mailto:vasile@geo-spatial.org">vasile@geo-spatial.org</a>
    </p>
</div>

