<div class="p-grid" style="margin: 0;height: calc(100% - 45px);overflow-y: auto;" #mainGrid>
    <div class="p-sm-12 p-md-12 p-lg-12 p-xl-12 full-width">
        <canvas id="canvasTrendline" #canvasTrendline></canvas>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasDailyCases" #canvasDailyCases></canvas>
    </div>
    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasFreqByAge" #canvasFreqByAge></canvas>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasDistributionBySex" #canvasDistributionBySex></canvas>
    </div>

    <div class="p-sm-12 p-md-12 p-lg-6 p-xl-6 full-width">
        <canvas id="canvasFreqByGeneration" #canvasFreqByGeneration></canvas>
    </div>

</div>

