* {
    font-family: "Open Sans", "Helvetica Neue", sans-serif
}

body .ui-table .ui-table-tbody tr td, body .ui-table .ui-table-thead tr th  {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
}

body .ui-table .ui-table-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
}

.header {
    border: 1px #efefef solid;
    padding: 0 15px;
    background-color: #1976d2;
    color: #ffffff;
}

.header .logo {
    width: calc(100% - 500px);
}

.header .topbar-menu {
    margin: 0;
    width: 500px;
    height: 78px;
    text-align: right;
}

.header .topbar-menu li, .header * {
    display: inline-block;
}

.header .topbar-menu li a{
    color: #fff;
    line-height: 78px;
    padding: 0 15px
}

.header .topbar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#bg_login {
    background: url('assets/images/bkg.png') no-repeat center center fixed;
    min-height: 100%;
    min-width: 1024px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.footer {
    border: 1px #efefef solid;
    padding: 0 15px;
    background-color: #1976d2;
    color: #ffffff;
    height: 45px;
    font-size: 14px;
    text-align: center;
}

.info-modal {
    background-color: rgba(152,78,163, 0.8);
    position: absolute;
    z-index: 1000; 
    right: 5px; 
    top: 5px;
    padding: 15px; 
    color: #ffffff;
}

.info-modal p {
    margin: 0;
    font-size: 14px;
}

.info-modal h3 {
    margin: 0;
    margin-bottom: 10px;
}