.disclaimer {
  max-width: 450px;

  p {
    text-indent: 15px;
    padding: 5px;
  }

  .ui-dialog-titlebar {
    background-color: #ff7f00 !important;
    text-align: center;
    font-size: 18px;
  }

  .ui-widget-content {
    text-align: justify;
    padding: 1em 0.75em !important;
  }
}

.left-menu {
  .borderlessTable {
    overflow-y: auto;
    max-height: calc(100vh - 360px);

    @media screen and (max-width: 991px) {
      max-height: 100%;
    }
  }
}


@media screen and (max-width: 550px) {
  .disclaimer {
    max-width: 95vw;
  }
}
